<configuration>

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- JDBC -->
    <logger name="ru.practicum.kobozevva.blog.repository" level="DEBUG"/>

    <!-- Controllers -->
    <logger name="ru.practicum.kobozevva.blog.controller" level="DEBUG"/>

</configuration>